- const relatedData = getData('relatedData');

+b.SECTION.related
  +e.container.container
    +e.H2.title Вам также может пригодиться
    +e.carousel.js-related-carousel
      +e.wrapper.js-wrapper
        each slide in relatedData
          +e.slide.js-slide
            +related-card(slide.pic, slide.title, slide.price)


