.btn {
  @include clear-button;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  font-size: 15px;
  line-height: 1.7;
  font-weight: 700;
  border-radius: rem(4);
  width: 100%;
  background-color: $primary;
  padding: rem(12);
  padding-top: rem(13);
  color: $white;
  transition: background-color 0.3s linear;
  cursor: pointer;

  &:hover {
    background-color: $primary-hover;
  }
}
